<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/new">Add new record!</a>
<hr>
<h2>Records</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${listOfRecords}">
        <td th:text="${record.name}"></td>
        <td th:text="${record.phone}"></td>
        <td><a th:href="@{/update?id={id}(id=${record.id})}">Edit</a></td>
        <td><a th:href="@{/delete?id={id}(id=${record.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>